    <!-- header -->
   
    <header class="header">

       <div class="header__inner">   

            <div class="header__boxLeft">
                
                <div class="header__menu">
                    
                    <div class="header__burgerBorder">
                        <div class="header__burger">
                            <span class="header__burgerLine"></span>
                        </div>
                    </div>

                    Меню

                </div>

                <div class="header__sorch">
                    <div class="header__icon" style="background-image: url('../assets/images/svg/search.svg')"></div>
                    Пошук по 1234 товарів
                </div>

            </div>

            <div class="header__logo" style="background-image: url('../assets/images/svg/logo.svg')"></div>

            <div class="header__boxRight">
                <a href="#" class="header__phone">+38 067 123 45 67</a>
                <div class="header__registration">
                    <div class="header__user" style="background-image: url('../assets/images/svg/user.svg')"></div>
                    <div class="header__basket" style="background-image: url('../assets/images/svg/basket.svg')">
                    <div class="header__basketCounter">0</div>
                    </div>
                </div>
            </div>

        </div>

    </header>

