/* Text */
$fontFamily-1: "gilroy-regular";
$fontFamily-2: "gilroy-bold";
$fontFamily-3: "gilroy-extrabold";
$fontFamily-4: "gilroy-black";


$colorText-1: #282828;
$colorText-2: black;
$colorText-3: #ffffff;
$colorText-4: #717171;

/* Buttons */
$colorBtn-1: #ee1c25;
$colorBtn-2: #020926;
$colorBtn-3: #020926;



/* Bacground*/

$bacground-1: #282828;
$bacground-2:  #f1f1f1;

/* Breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
