<footer class="footer container">
    <div class="footer__inner">

        <details open class="customer footer__date">
            <summary class="s"><h3 class="customer__title">Для покупця</h3><span></span></summary> 
            <ul class="customer__list">
                <li><a class="costomer__link" href="#">Зв’язатись з нами</a></li>
                <li><a class="costomer__link" href="#">Питання і відповіді</a></li>
                <li><a class="costomer__link" href="#">Умови користування</a></li>
                <li><a class="costomer__link" href="#">Подару</a></li>
            </ul>
        </details>

        <details open class="company footer__date">
            <summary id="s"><h3 class="customer__title">Кoмпанія</h3></summary> 
            <ul class="company__list">
                <li><a class="company__link" href="#">Про нас</a></li>
                <li><a class="company__link" href="#">Розпродаж</a></li>
            </ul>
        </details>

        <details open class="order footer__date">
            <summary><h3 class="order__title">Замовлення</h3></summary>
            <ul class="order__list">
                <li><a class="order__link" href="#">Доставка</a></li>
                <li><a class="order__link" href="#">Оплата</a></li>
                <li><a class="order__link" href="#">Повернення товару</a></li>
            </ul>
        </details>

        <div class="networks footer__date">
            <ul class="networks__list">
                <h3 class="networks__title">Соцмережі</h3>
                <li><a class="networks__link" href="#">Facebook</a></li>
                <li><a class="networks__link" href="#">Instagram</a></li>
                <li><a class="networks__link" href="#">Pinterest</a></li>
            </ul>
        </div>

    </div>

    <div class="rights">
        <div class="rights__wrapData">
            <div class="rights__logo header__logo logo" style="background-image: url('./assets/images/svg/logo.svg')"></div>
            <span class="rights__protected">©2021 Всі права захищені.</span>
        </div>

        <div class="rights__confidentiality">Політика конфіденційності</div>
    

    </div>
</footer>
 