.whom{
    @extend .sectionMarginTop;
    background-color: $bacground-2;
    padding: 0;

	&__inner{
         
        display: grid;
        grid-gap: 15px;
        position: relative;
        top: -50px;

        @media screen and(max-width: $sm) {
            justify-items: center; 
        }

        @media screen and(min-width: $sm) {
            grid-template-columns: repeat(3 , minmax(150px, 1fr));
        }

        @media screen and(min-width: $md) {
            grid-gap: 20px;
        }

        @media screen and(min-width: $lg) {
            grid-gap: 30px;
        }
	}


	&__item{
     max-width: 21.875rem;
     max-height: 26.25rem;

     @extend .backgroundItems;
     background-size:cover !important;
     background-color: black;
     font-family:$fontFamily-2;
     color:$colorText-3;
     font-size: 18px;
     padding: 30px;
     padding-bottom: 95%;
     background-position: 50% 30% !important;
     position: relative;

     div{
        position: absolute;
        bottom: 35px;
        left: 30px;
     }

     @media screen and(max-width: $sm) {
        min-width: 100%;
        padding-bottom: 75%;
     }

	}

}